<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted">Skills I Have Accumulated</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Autodesk Inventor</h4>
                    <p class="text-muted">Autodesk Inventor, developed by U.S. based software company Autodesk, is a computer-aided design application for creating 3D digital prototypes used in the design, visualization and simulation of products. It uses ShapeManager, their proprietary geometric modeling kernel.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Laser Cutting</h4>
                    <p class="text-muted">Laser cutting is a technology that uses a laser to cut materials, and is typically used for industrial manufacturing applications, but is also starting to be used by schools, small businesses, and hobbyists. Laser cutting works by directing the output of a high-power laser most commonly through optics.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Manufacturing</h4>
                    <p class="text-muted">Adept at many manufacturing skills such as drilling, machining, sanding, tapping, hardening metals, sawing wood. Skilled at using machines such as the vertial band saw, vertical sander, and hole press. </p>
                </div>
            </div>
        </div>
    </section>